.view {
  padding: 2rem 4rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.title {
  margin-bottom: 3rem;
}

.post {
  margin-bottom: 2rem;
}

.pageNum {
  margin: 0 1rem;
}

.nav {
  vertical-align: middle;
  margin-bottom: 5rem;
}

.addPostArea {
  margin-bottom: 5rem;
}

.addBox {
  width: 80%;
  padding: 1rem 1rem;
  font-size: 18px;
}

.channelSelection {
  margin-right: 1rem;
  display: inline-block;
  margin-top: 1rem;
  width: 200px;
  /* text-align: center; */
}

.pointer:hover {
  cursor: pointer;
}

.src {
  margin-top: 5rem
}

.login {
  margin-top: 1rem;
}

.captionArea {
  display: flex;
  margin: .5rem 0 .6rem;
  font-size: 16px;
  line-height: 2rem;
}

.photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: top;
  margin-right: .5rem;
}

.captionHolder {
  max-width: 700px;
}

.truncatedCaption {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.moreButton {
  cursor: pointer;
}

.channelCode {
  cursor: pointer;
}

.channelCode:hover {
  color: black;
}

.chosenChannelLabel {
  margin-bottom: 1rem;
}

.cancelChannelFilter {
  margin-left: .5rem;
  cursor: pointer;
}

.noPosts {
  margin-bottom: 3rem;
}

.pinButton {
  display: none;
}

.post:hover .pinButton {
  display: inline;
  cursor: pointer;
}

.pinButton:hover {
  color: black
}

.pinnedHolder {
  margin-bottom: 3rem;
}

.pinnedSeparator {
  background-color: rgb(196, 196, 196);
  width: 10rem;
  height: .15rem;
}

.pinnedLabel {
  margin-bottom: .3rem;
}